<!DOCTYPE html>
<html>
<head>
<title>CS:GO MM Cooldown Checker</title>
<link rel="stylesheet" type="text/css" href="/csgo/static/css/stylesheet.css">
</head>
<body>
{% block content %}
{% endblock %}

{% block footer %}
{% endblock %}

</body>
{% if analytics %}
<script>
	(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', '{{ analytics }}', 'auto');
	ga('send', 'pageview');
</script>
{% endif %}
</html>
