{% extends "base.html" %}

{% block content %}
<div id="topcontainer">
	<h1>CS:GO MM cooldown checker</h1>
	<div class="rankbox">
		<div class="top_info">
			<div class="username">
				<p>Paste a SteamID below to start.</p>
			</div>
		</div>
		<div class="bottom_info">
			<span class="textarea-input"><form method="get" action="/csgo/profiles"><textarea type="text" name="steamid" placeholder="SteamID..."></textarea><button type="submit" class="steamids">Submit</button><button type="submit" class="steamids" name="status" value="1">Status output</button></form></span>
			<div style="clear: both;"></div>
		</div>
	</div>
</div>
{% endblock %}

{% block footer %}
	<div id="footer">
		<div class="main-footer">
			<h1>FAQ</h1>
			<div class="content-footer">


			<div class="section">

				<div class="section">
					<div class="question">
						<h2>What are the cooldown types and what do they mean?</h2>
					</div>
					<div class="answer">
						<img src="/csgo/static/img/ow_ban.png" class="banreasons"/>
						<p>Red background represents Overwatch bans</p>
						<img src="/csgo/static/img/cooldown_ban.png" class="banreasons"/>
						<p>Yellow background is a regular cooldown, for instance the one you get for abandoning a match</p>
					</div>
				</div>

			</div>
		</div>
	</div>
{% endblock %}