		<div class="rankbox">
			<div class="top_info">
				<div class="avatar">
					<a href="http://steamcommunity.com/profiles/{{ profile.steamId }}/">
					<img src="{{ profile.avatarUrl|d("/csgo/static/img/avatarpicturedefault.png")}}">
					</a>
				</div>

				<div class="username">
					<a href="http://steamcommunity.com/profiles/{{ profile.steamId }}/"><p>{{ profile.playerName }}</p></a>
				</div>

				<div class="numbers">
						{% if profile.commendation.cmdFriendly %}<span class="friendly">{{ profile.commendation.cmdFriendly }}</span>{% endif %}
						{% if profile.commendation.cmdTeaching %}<span class="teacher">{{ profile.commendation.cmdTeaching }}</span>{% endif %}
						{% if profile.commendation.cmdLeader %}<span class="leader">{{ profile.commendation.cmdLeader }}</span>{% endif %}
						{% if profile.ranking.wins %}<span class="wins">{{ profile.ranking.wins }}</span>{% endif %}
						{% if show_ranks and profile.ranking %}<span class="rank">{{ profile.ranking.rankNameAbbr }}</span>{% endif %}
						{% if profile.vacBanned %}<span class="vac">VAC</span>{% endif %}
				</div>
			</div>
			<div class="bottom_info{% if profile.penaltySeconds %} cooldown{% endif %}{% if profile.cheater %} cheater{% endif %}">
			{% if profile.penaltySeconds %}
				<span class="penalty_reason">{{ profile.penaltyName }}</span>
				<span class="penalty_timer">ends {{ profile.penaltyTime }}</span>
			{% endif %}
			</div>
		</div>