{% extends "base.html" %}

{% block content %}
<div id="topcontainer">
	<h1>CS:GO MM cooldown checker</h1>
	{% if warning %}
	{{ warning }}
	{% endif %}
	{% if success %}
	<div class="rankcontainer">
		{% for profile in accountProfiles %}
		{% include "rank_item.html" %}
		{% endfor %}
	</div>
	{% else %}
	<div class="rankcontainer error">
		<div class="rankbox">
			<div class="top_info">
				<div class="username">
					<p>Failed to pull the data</p>
				</div>
			</div>
			<div class="bottom_info cheater">
				<span class="penalty_reason">{{ error }}</span>
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

